body {
   padding: 0;
   margin: 0;
}

#main{
	margin-left:25px;
	margin-right:25px;
}

.form-control{
	padding-left: 10px !important;
	background-color:#FBFBFB;
}
textarea{
	padding-top: 7px !important;
}
.datum{
	font-size: .8em;
}
.spaltenbreite{
	width: 20%;
}
.panel-heading{
font-weight:bold;
}
.post-info{
	font-size:10px;
}
.post-info table{
	width: 100%;
}