body {
   font-family: Verdana;
   font-size: 12px;
   padding: 0;
   margin: 0;
   font-family: 'PT Sans', sans-serif;
}

#main{
	margin-left:25px;
	margin-right:25px;
}

.form-control{
	padding-left: 10px !important;
}