body {
   font-family: Verdana;
   font-size: 12px;
   padding: 0;
   margin: 0;
   font-family: 'PT Sans', sans-serif;
}

#userbar{
	clear: both;
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 20px;
}