# coding: utf-8
<%page args="title,thema"/>
<%include file="header.html" args="title=title"/>

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="/">Startseite</a></li>
    <li class="active">${thema}</li>
    
</ul>
<br/>

<div id="HiddneDiv" style="DISPLAY: none">
<form method="POST" action="/thema">

<ul class="wmfg_questions">
	<input type="hidden" name="thema" value="${thema}"/>

	<li class="wmfg_q">
		<input type="text" class="form-control floating-label" placeholder="Titel" name="discussionname">
	</li>

	<li class="wmfg_q">
		
		<textarea input type="text" class="form-control floating-label" placeholder="Text" name="text" style="height:180px"></textarea>
	</li>

	<li class="wmfg_q">
		<button type="submit" name="action" value="create" class="btn btn-primary btn-material-green btn-sm">Erstellen</button>

	</li>

</ul>
</div>

</form>
	
<button onclick="ShowHide()" style="float:right;" class="btn btn-fab btn-raised btn-material-green btn-xs"><i class="mdi-content-add"></i></button>
</form>
<div style="clear:both;"></div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">Beiträge</div>
    <div class="panel-body">
       
	   
	   <div class="list-group">
	   %for beitrag in beitraege:
    
			<div class="list-group-item">
				<div class="row-action-primary">
					<i class="mdi-file-folder"></i>
				</div>
				<div class="row-content">
					<div class="least-content"></div>
					<h3 class="list-group-item-heading">${beitrag["Titel"]}</h3>
					<br>
					<p class="list-group-item-text">${beitrag["Ersteller"]} (${beitrag["Erstellt"]})</p>
					<br>
					<p class="list-group-item-text">${beitrag["Text"]}</p>
				</div>
			</div>
			<div class="list-group-separator"></div>
			
		%endfor
</div>
	   
	   
	   
    </div>
</div>

<%include file="footer.html"/>


