# coding: utf-8
<%page args="title,thema"/>
<%include file="header.html" args="title=title"/>

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="/">Startseite</a></li> 	
    <li class="active">${thema}</li>   
</ul>
<br/>

<script type="text/javascript">

	$(function(){
		$("#newDiscussionButton").click(function(){
			$("#discussionContainer").html("Lade...");
			
			var title = $('#newDiscussion input[name="title"]').val();
			var text = $('#newDiscussion textarea[name="text"]').val();
			
			var data = {"thema":"${thema}","title":title,"text":text,"action":"create"};
		
			$.ajax({
			  type: "POST",
			  url: "/diskussionen",
			  data: data,
			  success: function(response,textStatus,jqXHR){
					$("#discussionContainer").html(response);
					bindDiscussionEvents();
			  },
			  complete: function(jqXHR,textStatus){
				$('#newDiscussion').modal('hide');
			  },
			  error: function(jqXHR,textStatus,thrownError) {		
					$("#discussionContainer").html("Ajax Fehler: "+thrownError);
				},
			  dataType: "html"
			});
		
		});
		bindDiscussionEvents();
		$(document).ajaxError(function(e, request, settings,thrownError ) {
			console.log("Ajax Error: "+thrownError);
		});
	});

	function bindDiscussionEvents(){
		$('.deleteDiscussion').click(function(){
				var id = $(this).val();
				var data = {"thema":"${thema}","id":id,"action":"delete"};
					
				$.ajax({
				  type: "POST",
				  url: "/diskussionen",
				  data: data,
				  success: function(response,textStatus,jqXHR){
						$("#discussionContainer").html(response);
						bindDiscussionEvents();
				  },error: function(jqXHR,textStatus,thrownError) {		
						$("#discussionContainer").html("Ajax Fehler: "+thrownError);
					},
				  dataType: "html"
				});
			});
	};
</script>

<div id="newDiscussion" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title">Neue Diskussion</h4>
		  </div>
		  <div class="modal-body">
			
			<input type="text" class="form-control floating-label" required="required" placeholder="Titel" name="title">
	<br/>
			<textarea class="form-control floating-label" required="required" placeholder="Text" name="text" style="height:180px"></textarea>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
			<button id="newDiscussionButton" type="button" name="action" value="create" class="btn btn-primary">Erstellen</button>
		  </div>
		</div>
	  </div>	
	</div>

% if role=="Administrator" or role=="Bearbeiter": 	 

<button style="float:right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDiscussion">Neue Diskussion</button>


% endif

<div style="clear:both;"></div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">Diskussionen</div>
    <div class="panel-body">
       
	   <div id="discussionContainer" class="list-group">
	   <%include file="diskussionen-liste.html"/>
</div>
	   
 
	   
    </div>
</div> 

<%include file="footer.html"/>

