# coding: utf-8
<%page args="title,thema"/>
<%include file="header.html" args="title=title"/>

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="/">Startseite</a></li> 	
    <li class="active">${thema}</li>   
</ul>
<br/>

<div id="HiddneDiv" style="DISPLAY: none">
	<form method="POST" action="/diskussionen">
	<ul class="wmfg_questions">
		<input type="hidden" name="thema" value="${thema}"/>
		<li class="wmfg_q">
			<input type="text" class="form-control floating-label" required="required" placeholder="Titel" name="title">
		</li>
		<li class="wmfg_q">
			
			<textarea input type="text" class="form-control floating-label" required="required" placeholder="Text" name="text" style="height:180px"></textarea>
		</li>
		<li class="wmfg_q">
			<button type="submit" name="action" value="create" class="btn btn-primary btn-material-green btn-sm">Erstellen</button>
		</li>
	</ul>
</form>
</div>

% if role=="Administrator" or role=="Bearbeiter": 	 	
<button onclick="ShowHide()" style="float:right;" class="btn btn-raised btn-material-green"><i class="mdi-content-add"></i></button>
% endif

<div style="clear:both;"></div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">Diskussionen</div>
    <div class="panel-body">
       
	   <div class="list-group">
	   %for diskussion in diskussionen:
 
			<div class="list-group-item">
				<div class="row-action-primary">
					<i class="mdi-file-folder"></i>
				</div>
				<div class="row-content">
					<div class="least-content"></div>

					%if diskussion["Status"] == "deleted":
						<h4 class="list-group-item-heading">${diskussion["Titel"]}</a>
						%else:
						<h4 class="list-group-item-heading"><a href="/beitraege?thema=${thema}&id=${diskussion["ID"]}">${diskussion["Titel"]}</a>
					%endif
					
					% if role=="Administrator": 
						<form method="POST" action="/diskussionen">
						<input type="hidden" name="thema" value="${thema}"/>
						<input type="hidden" name="id" value="${diskussion["ID"]}"/>
						<button style="float:right;" name="action" value="delete" class="btn btn-warning btn-xs"><i class="mdi-content-clear"></i></button>
						</form>
					% endif

					</h4>					
					<br/>

					<p class="list-group-item-text">von ${diskussion["Ersteller"]} (${diskussion["Erstellt"]})</p>

					% if diskussion["Bearbeiter"] != " ": 
						<p class="list-group-item-text">zuletzt bearbeitet von ${diskussion["Bearbeiter"]} (${diskussion["Bearbeitet"]})</p>
					% endif


				</div>
			</div>
			
			<div class="list-group-separator"></div>
			
		%endfor
</div>
	   
 
	   
    </div>
</div>

<script>


function ShowHide(){
	if(document.getElementById("HiddneDiv").style.display == 'none'){
		document.getElementById("HiddneDiv").style.display='block';
	}else{
		document.getElementById("HiddneDiv").style.display = 'none';
	}
}

</script>	  

<%include file="footer.html"/>

