# coding: utf-8
<%page args="title,themen"/>
<%include file="header.html" args="title=title"/>

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li class="active"><a href="/">Startseite</a></li>
</ul>

<br/>

<div class="jumbotron">
    <h1>Dies ist PyForum</h1>
    <p>Ein quelloffenes Forum welches für die Praktika WEB BI3 erstellt wurde. Es ist in Python geschrieben und mit CherryPy gehostet.</p>
    <p><a href="https://github.com/fr34kyn01535/PyForum" class="btn btn-primary btn-lg">Zum Quelltext</a></p>
</div>

<br/>

<div class="panel panel-default">
    <div class="panel-heading">Themen</div>
    <div class="panel-body">
       
	   
	   <div class="list-group">
	   %for thema in themen:
    
			<div class="list-group-item">
				<div class="row-action-primary">
					<i class="mdi-file-folder"></i>
				</div>
				<div class="row-content">
					<div class="least-content"></div>
					<h4 class="list-group-item-heading"><a href="/diskussionen?thema=${thema}">${thema}</a></h4>
					<p class="list-group-item-text"></p>
				</div>
			</div>
			<div class="list-group-separator"></div>
			
		%endfor
</div>
	   
	   
	   
    </div>
</div>



<%include file="footer.html"/>